<!--The content below is only a placeholder and can be replaced.-->
<div style="margin: auto; width: 750px;">
    <div>
        <h1>
          Welcome to {{ title }}!
        </h1>
        <div class="input-message-area">
          <img src="../assets/images/got.jpg" alt="Avatar" class="avatar">
          <textarea [(ngModel)]="input" placeholder="Please type a message ..." class="message-input"></textarea>
          <button class="message-button" (click)="sendMessage()">
            <img src="../assets/images/send-msg-icon.png" alt="button" class="button-icon">

          </button>
        </div>
        <div class="error-message" *ngIf="hasError">
          <p>message contains a too long word that we cannot separate. Please type again.</p>
        </div>
        <hr />
        <div class="message-show">
            <ul class="message-list" *ngIf="messageStore.length > 0">
                <li *ngFor="let messageChunk of messageStore; let i = index" class="post-message-list">
                  <span class="post-index">Post {{i + 1}}</span>
                  <ul class="chunk-list">
                      <li *ngFor="let separateMessage of messageChunk.message">
                        {{separateMessage}}
                      </li>
                  </ul>
                </li>
              </ul>
        </div>
      </div>
</div>


