.input-message-area {
  margin-top: 50px;
  display: inline-block;
}

.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

textarea.message-input {
  width: 500px;
  min-height: 100px;
  vertical-align: middle;
  margin: 0 20px;
  padding:10px;
  font-size: 15px;
}

.message-button{
  border-radius: 50%;
  vertical-align: middle;
}

.message-button:hover{
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 8px 15px 0 rgba(0,0,0,0.3);
}

.message-button:active{
  transform: scale(0.90);
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.3)
}

.button-icon {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.error-message {
  color: red;
}

.message-show{
  margin-right: 100px;
  display:block;
  float: right;
}

.message-list {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}
.chunk-list {
  min-width: 300px;
  list-style-type: none;
}

.message-list .chunk-list li {
  color: white;
  background-color: rgb(29, 113, 170);
  margin: 0.5em;
  padding: 10px;
  border-radius: 4px;
}

.message-list .post-message-list {
  margin-top: 50px;
}
.post-index {
  position: relative;
  bottom: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #A8DDFD;
  width: 200px;
  height: 50px;
  text-align: left;
  border: 1px solid #97C6E3;
  border-radius: 10px;
}

.post-index:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid #A8DDFD;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 0;
  left: -15px;
}

.post-index:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 17px solid #97C6E3;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  top: -1px;
  left: -17px;
}

