/* You can add global styles to this file, and also import other style files */
body {
  margin: 2em;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  text-align: center;
}
button {
  padding:0 !important;
  border: none;
  outline: none;
}
